.Users {
  grid-area: Content;
  background-color: rgb(210, 200, 195);
  color: rgb(44, 18, 2);
  height: 922px;
  width: 1100px;
  columns: 2;
}

.Users__getUsers {
  width: 100px;
  height: 50px;
}

.Users__pages__currentPageButton{
  font-weight: 1000;
}

.Users__loader {
  position: absolute;
  z-index: 1000;
  margin-top: 20%;
  margin-left: 40%;
  width: 300px;
  height: 300px;
}